/************* your name: Naya Bektenova

INSTRUCTIONS:
Comments starting with TO-DO have been included in this file to describe the needed styling: please translate these to the appropriate CSS declarations. 

Comments starting with TO-DO may be left in for reference or removed entirely: all other comments should be left as-is for ease of review.

You are discouraged from changing any provided CSS.

***** colour palette: *****
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5

*/

/************* your name: *************/

/************* site defaults *************/
body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* TO DO: all elements with the .flex class applied are to be made into flex-box containers. */
.flex {
    display: flex;
}

/************* site-wide text styling *************/

/* TO DO:
    - first-level headings are size 48px, centered vertically and horizontally in the available space. */
h1 {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* TO DO: 2nd-level headings have a font size of 36px, and 12px of space below. */
h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

/* TO DO: any element with the .large-text class has a font size of 24px. */
.large-text {
    font-size: 24px;
}

/* TO DO: any element with the .fake-button class will have a background colour of mustard yellow, be center aligned, with a line-height of 3 and a solid black border that is 1px wide. */
.fake-button {
    background-color: #E5AF42;
    text-align: center;
    line-height: 3;
    border: 1px solid black;
}

/* TO DO: all anchors will have the underline removed and be black in colour. all anchors in the main and footer sections will be underlined in their hover-state. */
a {
    text-decoration: none;
    color: black;
}

main a:hover, footer a:hover {
    text-decoration: underline;
}

/* TO DO: the hover-state of .fake-button and .blue-hover elements will:
        - add an underline, 
        - set the background-colour to cornflower blue,
        - change the text colour to white, and 
        - change the cursor to pointer. */
.fake-button:hover, .blue-hover:hover {
    text-decoration: underline;
    background-color: #4278e5;
    color: white;
    cursor: pointer;
}

/************* header/footer styling *************/

/* TO DO: the header and footer will be the same mustard-yellow as the buttons. */
header, footer {
    background-color: #E5AF42;
}

/* TO DO: the header is 150px tall. */
header {
    height: 150px;
}

/* TO DO: the header image is 100px wide and tall with 25px of space above, below, and on its left, and the top-level heading is centered in the remaining width. */
header img {
    width: 100px;
    height: 100px;
    margin: 25px 0 25px 25px;
}

header h1 {
    margin: 0 auto;
}

/* TO DO: there will be 25px of space between the header and main, and 50px of space between main and footer. */
main {
    margin: 25px 0 50px 0;
}

/* TO DO: the footer will be 60px tall, have a font-weight of 200, and the text within will be centered vertically and horizontally. */
footer {
    height: 60px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-top: 30px;  
    padding-bottom: 30px; 
}
main {
    padding-bottom: 60px; 
}


/************* index page *************/

/* TO-DO: this is a 2-column layout: text on the left, and an image on the right. */
.index .flex {
    display: flex;
}

/* TO-DO: The image will be 300px wide, with 25px between it and the text column, which takes up the remaining space. */
.index img {
    width: 300px;
    margin-left: 25px;
    margin-bottom: 50px;
}

/* TO-DO: The h2 on this page will have a line-height equal to the font size. */
.index h2 {
    line-height: 36px;
}

/* TO-DO: Each paragraph on this page will have 12px of space beneath it. */
.index p {
    margin-bottom: 12px;
}

/* TO-DO: Each fake-button on this page will be 250px wide with 150px of space between them. */
.index .fake-button {
    width: 250px;
    margin: 0 75px;
}

/* TO-DO: The pair of fake-buttons will be centered on the page. */
.index .fake-button-container {
    display: flex;
    justify-content: center;
}

/************* bookings page *************/

/* TO-DO: The contents of the booking-page will be 600px wide, and all content centered within the available space. */
.booking-page {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* TO-DO: Text will have a size of 18px. */
.booking-page p, .booking-page li {
    font-size: 18px;
}

/* TO-DO: There will be 12px of space below the day-selectors, and 20px of space between each list item. */
.booking-page .day-selector {
    display: flex;                 
    justify-content: center;        
    gap: 20px;                      
    margin: 0 auto;               
}

.booking-page li {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 70px;
}

/* TO-DO: List items & the small-button elements will have a solid black border that is 1px wide. */
.booking-page li, .small-button {
    border: 1px solid black;
}

/* TO-DO: Small-buttons will also have 5px of space between the border and the content. */
.small-button {
    padding: 5px;
}

/* TO-DO: Items tagged with .top-margin will have 24px of space above, and 12px of space below. */
.top-margin {
    margin-top: 24px;
    margin-bottom: 12px;
}

/* TO-DO: The "clear days" button will be 200px wide. */
.clear-days {
    width: 200px;
    margin-bottom: 30px;
}

/* TO-DO: Any element tagged with the .clicked class will turn mustard yellow. */
.clicked {
    background-color: #E5AF42;
}



/************* contact page *************/
/* TO-DO: The main section of the .contact page will be 420px tall, and centered. */
.contact {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;
}

/* TO-DO: The contents will be 2 columns. */
.contact .labels, .contact .inputs {
    display: inline-block;
    vertical-align: top;
}


/* TO-DO: The textarea element will be 150px tall. */
textarea {
    height: 150px;
}

/* TO-DO: All form input, textarea, and and button elements will have the same font as the rest of the page, a line-height of 24px, a font-size of 16px, and the same border as other buttons on the site. */
input, textarea, button {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 16px;
    border: 1px solid black;
    margin-bottom: 24px;
}

input {
    margin-left: 50px;
    width: 300px;
}

textarea {
    margin-left:25px;
    width: 300px;
}

button {
    margin-left: 140px;
}

/* TO-DO: The edges of the button will line up exactly with the text-area element. */
.contact button {
    width: 300px;
}

/* New: Ensure the h2 text is centered at the top */
.contact h2 {
    margin-top: 0;
    margin-bottom: 24px; 
    text-align: center;
}
